.form-modal__data {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem;
}

.form-modal__label {
  margin-bottom: 0.5rem;
}

.form-modal__input-wrap {
  position: relative;
}

.form-modal__input {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 100%;
  border: 1px solid var(--color-gray);
  padding: 0.4rem;
  margin-bottom: 0.3rem;
  outline: none;
  transition: box-shadow 0.3s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-modal__input:focus {
  box-shadow: inset 0 0 3px 0 var(--color-gray-active);
}

.form-modal__err-msg {
  position: absolute;
  left: 20%;
  transform: translate(-50%, 100%);
  bottom: -1px;
  color: var(--color-red);
  white-space: nowrap;
}
