.btn {
  height: 40px;
  width: 40px;
  border: 1px solid;
  border-radius: 50%;
  background-color: white;
  outline: none;
  transition: box-shadow 0.3s ease-out;
}

.btn::after {
  content: "";
  position: relative;
  display: block;
  width: 70%;
  height: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease-out;
}

.btn:hover {
  cursor: pointer;
}

.form-media__btn-audio::after {
  background-image: url("../img/mic.svg");
}

.form-media__btn-video::after {
  background-image: url("../img/video.svg");
}

.form-media__btn-audio:hover::after {
  background-image: url("../img/micOrange.svg");
}

.form-media__btn-video:hover::after {
  background-image: url("../img/videoOrange.svg");
}

.btn-start {
  border-color: var(--color-gray);
}

.btn-start:focus,
.btn-start:hover {
  box-shadow: 0 0 5px 0 var(--color-gray);
}

.form-media__btn-send {
  border-color: var(--color-green);
}

.form-media__btn-send::after {
  width: 60%;
  height: 60%;
  background-image: url("../img/ok.svg");
  transform: translateX(-45%);
  transition: background-image 0.3s ease-out;
}

.form-media__btn-send:focus,
.form-media__btn-send:hover {
  box-shadow: 0 0 5px 0 var(--color-green);
}

.form-media__btn-cancel {
  border-color: var(--color-red);
}

.form-media__btn-cancel::after {
  width: 50%;
  height: 50%;
  background-image: url("../img/cancel.svg");
  color: #ff0707;
  transition: background-image 0.3s ease-out;
}

.form-media__btn-cancel:focus,
.form-media__btn-cancel:hover {
  box-shadow: 0 0 5px 0 var(--color-red);
}
